<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascript/angular.js"></script>
</head>
<body>

<form ng-app="loginform" name='loginform' ng-controller="loginctrl" id="login_form" action="/login" method="post" novalidate>
    <h1>Login</h1>
    <table>
        <tr>
            <td>username</td>
            <td><input type="text" name="username" ng-model="username" placeholder="username" required/> </td>
            <td ng-show="loginform.username.$dirty && loginform.username.$invalid" class="error_msg">username is required.</td>
        </tr>

        <tr>
            <td>password</td>
            <td><input type="password" name="password" ng-model="password" placeholder="password" required/> </td>
            <td ng-show="loginform.password.$dirty && loginform.password.$invalid" class="error_msg">password is required.</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Submit" ng-disabled="loginform.username.$invalid || loginform.password.$invalid"/> </td>
        </tr>
    </table>

</form>
<script>
    var app = angular.module('loginform',[]);
    app.controller('loginctrl',function ($scope){
        $scope.username = '';
        $scope.password = '';
    });
</script>
</body>
</html>
