body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#login_form {
  margin : 10% 40%;
  line-height: 40px;
}
#login_form table{
  line-height: 40px;
}
#login_form td {
  padding-right: 10px;
  white-space: nowrap;
}
.error_msg{
  color: #F00;
}